# Servidor
HOST=127.0.0.1
PORT=5000

# URL base de tu backend NestJS (donde se maneja la autenticación principal)
NESTJS_API_BASE_URL=https://api.

# Clave PÚBLICA de Turnstile (para el frontend). Obtenla de tu panel de Cloudflare. Esta es la única clave de Turnstile que necesita el servidor Flask.
TURNSTILE_SITE_KEY=


# Configuración de impresión
ANCHO_DOTS_ETIQUETA=320
ALTO_DOTS_ETIQUETA=240

GHCR_USER=jumaar
GHCR_TOKEN=ghp_xxxxxxxx